* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
        background-color: #F9F9F9;
}

h1 {
	font-weight: normal;
	margin-bottom:0.5em;
        background:#fff;
	color: #003d4c;
	font-size: 280%;

}

/** Layout **/
#container {
	text-align: left;
}

#logo
{
    background-image: url("../img/logo.png");
    height:50px;
    background-repeat: no-repeat;
    padding: 0px 60px;
    margin: 10px 5px 20px;
}

#content{
        margin-top:100px;
	width:300px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:30px;
        background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
        box-shadow: 1px 1px 12px #555; 
        -moz-box-shadow: 1px 1px 12px #555; 
        -webkit-box-shadow: 1px 1px 12px #555; 
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
}

/** Tables **/
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}

/** Forms **/
label {
	display: block;
	font-size: 100%;
	margin-bottom:3px;
        color: #777777;
        font: 13px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
        text-align: left;
}
input{
	clear: both;
	font-size: 140%;
        padding: 2px;
	width:98%;
        color: #555555;
}

form .submit input[type=submit] {
        background-image: url('../img/button-grad.png');
        color: #FFFFFF;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        font-size: 12px;
        width:110px;
        -moz-border-radius:30px;
        -webkit-border-radius:30px;
        border-radius:30px 30px 30px 30px;
        border:1px solid white;
        height:25px;
}

form .submit input[type=submit]:hover {
        background-image: url('../img/button-grad.png');
        color: #FFFFFF;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        font-size: 12px;
        width:110px;
        -moz-border-radius:30px;
        -webkit-border-radius:30px;
        border-radius:30px 30px 30px 30px;
        border:1px solid #aa6600;
        height:25px;
}

form .submit input[type=submit]:active {
        background-image: url('../img/button-grad-active.png');
        color: #FFFFFF;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        font-size: 12px;
        width:110px;
        -moz-border-radius:30px;
        -webkit-border-radius:30px;
        border-radius:30px 30px 30px 30px;
        border:1px solid #aa6600;
        height:25px;
}

form .submit {
text-align: right;
}
