.message {
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	padding-left: 65px;
	margin-top: 0px;
	min-height: 47px;
	background-repeat: no-repeat;
	background-position: 15px 8px;
	padding-top: 7px;
        margin-bottom: 10px;
}

.message_texte {

	font-family: "Trebuchet MS", "Lucida Grande", Verdana, Arial, sans-serif;
	margin-top: 6px;
	font-size: 13px;

}

.succes {
	border-color: #739f1d;
	background-image: url(../img/tick.png);
	background-color: #d4f684;
}

.title_succes {
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #739f1d;
	font-size: 13px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

.attention{
	border-color: #F1AA2D;
	background-image: url(../img/warning.png);
	background-color: #FEFFC8;
}

.title_attention {
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #F1AA2D;
	font-size: 13px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

.erreur{
	border-color: #C44509;
	background-image: url(../img/error.png);
	background-color: #FDCEA4;
}

.title_erreur {
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #C44509;
	font-size: 13px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

.information{
	border-color: #688FDC;
	background-image: url(../img/info.png);
	background-color: #C3E4FD;
}

.title_information {
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #688FDC;
	font-size: 13px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

#authMessage {
    border-color: #C44509;
    background-image: url(../img/error.png);
    background-color: #FDCEA4;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    padding-left: 65px;
    margin-top: 0px;
    min-height: 47px;
    background-repeat: no-repeat;
    background-position: 15px 8px;
    padding-top: 7px;
    margin-bottom: 10px;
}

/****************************************************
 * Réinitialisation des marges et classes partagées *
 ****************************************************/

html, body
{
	margin:0;
        padding:0;
        height:100%;
}

.majuscule
{
	text-transform: uppercase;
}

span.tooltip em {
    display:none;
}
span.tooltip:hover {
    border: 0;
    position: relative;
    z-index: 500;
    text-decoration:none;
}
span.tooltip:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    top: 20px;
    left: -10px;
    padding: 5px;
    color: #000;
    border: 1px solid #bbb;
    background: #ffc;
    width:170px;
}
span.tooltip:hover em span {
    position: absolute;
    top: -7px;
    left: 15px;
    height: 7px;
    width: 11px;
    background: transparent url("img/img-infobulle.gif");
    margin:0;
    padding: 0;
    border: 0;
}

label {
    display:inline-block;
    width:100px;
    text-align: right;
    padding-right: 7px;
}

input[type=text],
input[type=password] {
    border:1px solid #cacaca;
    margin-bottom: 8px;
    margin-right: 3px;
}

/*************
 * L'en tête *
 *************/

#en_tete
{
	margin-top: 0px;
	height: 86px;
	background-image: url("../img/header.png");
	background-repeat: repeat;
}

.logo_entete
{
	margin-top: 5px;
	margin-left: 10px;
	float: left;
	margin-right:5px;
}
.titre_entete
{
	text-shadow: 0px 0px 9px #777;
	padding-top:7px;
	font-size:x-large;
	font-family:"Trebuchet MS";
}
.description_entete
{
	margin-top:-2px;
	padding-left:3px;
	font-family:"Trebuchet MS";
	font-size:small;
	text-indent:2px;
}
.info-connect_entete
{
	float:right;
	margin-top:-40px;
	font-family:"Trebuchet MS";
	font-size:small;
	margin-right:10px;
}

/********************
 * Le corps de page *
 ********************/

#corps
{
	font-family:"Verdana";
	margin:20px;
	font-size: 80%;
	color:#777777;
        margin-right: 20%;
}

#corps h2
{
	text-align:center;
}

.checkform-error
{
	color:red;
}

#corps h3
{
	font-size:150%;
	font-variant:small-caps;
}

/***************************************************
 * Style du formulaire authentification (auth.php) *
 ***************************************************/

body.identification
{
	margin-top: 0px;
	background-color:#E6E6E6;
}
form.identification
{
	position:absolute;
	left: 50%;
	top: 50%;
	width: 450px;
	margin-top: -170px; /* moitié de la hauteur */
	margin-left: -225px; /* moitié de la largeur */
	padding-bottom: 0px;
	padding-top:0px;
	border:1px solid #aaaaaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.70em;
	background-color:#FFFFFF;
}
div.topform
{
	background-color:#cccccc;
	border:1px solid #aaaaaa;
	margin-top:2px;
	margin-left:2px;
	margin-right:2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-position: 50% 50%;
	font-weight:bold;
	background-image: url('img/bg.png');
	background-repeat: repeat-x;
}

div.top_msg
{
	background-color:#FFCCCC;
	border:1px solid #aaaaaa;
	margin-top:2px;
	margin-left:2px;
	margin-right:2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-position: 50% 50%;
	font-weight:bold;
	background-image: url('img/bg.png');
	background-repeat: repeat-x;
}

.topform_icon
{
	background-image: url('img/key.png');
	background-repeat: no-repeat;
	background-position:10px;
	padding-left:30px;
	padding-right:10px;
	padding-top:7.5px;
	padding-bottom:7.5px;
	margin:0px;
}

.icon_error
{
	background-image: url('img/error.png');
	background-repeat: no-repeat;
	background-position:10px;
	padding-left:30px;
	padding-right:10px;
	padding-top:7.5px;
	padding-bottom:7.5px;
	margin:0px;
}

.icon_ok
{
	background-image: url('img/ok.png');
	background-repeat: no-repeat;
	background-position:10px;
	padding-left:30px;
	padding-right:10px;
	padding-top:7.5px;
	padding-bottom:7.5px;
	margin:0px;
}

p.bottomform
{
	text-align:right; border-top:1px solid #cacaca;
	padding-top:10px;
	margin-left:10px;
	margin-right:10px;
}

p.infoform
{
	text-align:justify;
	padding-bottom:10px;
}

div.contenuform
{
	padding-left:20px;
	padding-right:20px;
	margin-bottom:35px;
}

/*************************
 * Onglets de navigation *
 *************************/

#menu
{
        margin-top:-25px;
        border-bottom : 1px solid #9EA0A1;
        padding-bottom : 25px;
}

#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        left : 1%;
        margin-top : 0;
        width:98%;

}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets li.right
{
    position: absolute;
	right: 1px;
}


#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 6px;
}


#onglets a:hover
{
    background : #fff;
}

/***************
 * Bas de page *
 ***************/

/* Voir http://www.cssstickyfooter.com/fr/ */

html, body, #wrap {height: 100%;}

body > #wrap {height: auto; min-height: 100%;}

#corps {padding-bottom: 55px;}  /* must be same height as the footer */

#footer
{
	position: relative;
	margin-top: -77px; /* negative value of footer height */
	height: 45px;
	clear:both;
	width:98%;

	background-color:#DEDEDE;
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.70em;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#footer a
{
	color:black;
}

#footer a:hover
{
	color:#5E5E5E;
}

/** Tables **/
table {
	background: #fff;
	border-right:0;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

img {
    border: 0 none;
}

#menu
{
   width: 17%;
   background-color: #F5F5F5;
   border-bottom-color: #F5F5F5;
   padding-left: 18px;
   position:absolute;
   right:0px;
   top:111px;
   height:76%; 
}

#wraper
{
    height: 100%;
}
